body {
    background-color: rgb(32, 12, 150);
    text-align: center;
    padding: 15em  0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}
.download {
    border: radius 5px; 
    @include box-sizing(border-box)
    background:$color;
    paddding: 2px 0 26px 28px;
    color: white;
    border: 2px solid $color;
    width:220px;
    display:inline-block;
    position: relative;
    margin: right 20px;

}
span{
    display: block;
    position: relative;
    z-index: 1;
        &:after,&:before{
            content:'';
            width:1px;
            height=16px;
            background:$color;
            capacity:0;
            position:absolute;
            left:50%;

        }
}
